<section class="content-header">
    <h3>Welcome! Please Order your Food</h3>
</section>
<section class="content">
<div class="col-md-10 order-md-1">
	<div class="col-md-4">
			<input type="text" class="form-control mb-4" id="Name" placeholder="Enter Name" autofocus required>
	</div>
	<button type="button" id="addI" class="btn btn-primary float-right btn-sm mb-4">Add Item</button>
	<br/>
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Item</th>
		  <th scope="col">Quantity</th>
		  <th scope="col">Price</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody id="order-items">
		
	  </tbody>
	  <tfoot>
		<tr>
			<th></th>
			<th></th>
			<th>Total Cost :</th>
			<th id="total-price"></th>
			<th>
				<button type="button" id="addI" class="btn btn-primary" onclick="placeOrder()">Place Order</button>
			</th>
		</tr>
	  </tfoot>
	</table>
</div>
</section>

<script>
	dbRef = firebase.database().ref('orders');
	var foods;
	$.getJSON("dist/menu.json",function(data){
		foods =  data;
		$("#addI").click();
	});
    $("#addI").click(function() {
			var l = $("#order-items").find("tr").length;
			var html='<td scope="row">'+(l+1)+'</td>';
			html += '<td><div class="form-group"><select name="food" id="selectItem" class="form-control item-name" onchange="updatePrice(this)">';
			for(i = 0; i < foods.length; i++)
				html += '<option value="'+foods[i].code+'">'+foods[i].name+'</option>';
			html += '</select></div></td>';
			html += '<td><div class="form-group"><select name="food" id="selectItem" class="form-control item-count" onchange="updatePrice(this)"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></div></td>';
			html += '<td class="item-price">'+foods[0].price+'</td>';
			html += '<td><button type="button" onclick="removeRow(this)" class="btn btn-danger btn-sm">Remove</button></td>';
			$("#order-items").append('<tr>'+html+'</tr>');
			updateTotal();
     });

	function removeRow(elm){
		$(elm).closest("tr").remove();
		updateTotal();
	}

	function updatePrice(elm){
		var row = $(elm).closest("tr");
		var selected = row.find(".item-name").val();
		for(i = 0; i < foods.length; i++){
			if (foods[i].code == selected){
				row.find(".item-price").html(foods[i].price * parseInt(row.find(".item-count").val()));
				break;
			}
		}
		updateTotal();
	}

	function updateTotal(){
		var total = 0;
		$("#order-items").find("tr").each(function(){
			total += parseInt($(this).find("td.item-price").html());
		});
		$("#total-price").html("Rs."+total);
	}

	function placeOrder(){
		if ($("#Name").val() == ""){
			alert("Enter Name!!")
		}else{
		$("#order-items").find("tr").each(function(){
			var code = $(this).find('.item-name').val();
			var quantity = $(this).find('.item-count').val();
			var pname = $("#Name").val();
            console.log(code,quantity);
            saveOrder(code,quantity,pname);
            window.location.reload();
		});
	}
    }
    
    function saveOrder(it,q,nm){
        dbRef.push().set({
            item:it,
			quantity:q,
			name:nm
        });
    }
</script>
